## Hacer una lista con nombres propios que inician en mayuscula

In [1]:
nombres = "michel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memo"
nombres1 = nombres.split(sep=",") # se vuelve lista
# print(nombres1)
nombres_limpios = []  # crea una lista vacia
for nombre in nombres1: # iterando nombres1 
    nombres_limpios.append(nombre.strip().capitalize()) # limpio el espacio vacio y pongo en may√∫sculas
nombres_limpios # imprimo

['Michel',
 'Ramon',
 'Yadira',
 'Fernando',
 'Joselin',
 'Andrea',
 'Rodolfo',
 'Nairo',
 'Mitsue',
 'Laura',
 'Luisa',
 'Turbo',
 'Memo']

In [9]:
nombres.replace(", ",",").title().split(sep=",")

['Michel',
 'Ramon',
 'Yadira',
 'Fernando',
 'Joselin',
 'Andrea',
 'Rodolfo',
 'Nairo ',
 'Mitsue',
 'Laura',
 'Luisa',
 'Turbo',
 'Memo']

In [15]:
[nombre.strip().capitalize() for nombre in nombres.split(sep=",")]

['Michel',
 'Ramon',
 'Yadira',
 'Fernando',
 'Joselin',
 'Andrea',
 'Rodolfo',
 'Nairo',
 'Mitsue',
 'Laura',
 'Luisa',
 'Turbo',
 'Memo']

In [20]:
nombres.lower().count("a") # ccuenta todas las a sin importar si son mayuscula o minuscular

10

In [23]:
nombres.endswith("xls")

True

In [25]:
nombres

'michel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memo'

In [29]:
nombres.join("interesante")

'imichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memonmichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memotmichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memoemichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memormichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memoemichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memosmichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memoamichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memonmichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memotmichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memoe'

In [27]:
nombres.join(["interesante","algo"])

'interesantemichel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memoalgo'

In [32]:
", ".join(["a","b","c"])

'a, b, c'

In [33]:
nombres.replace("memo","MeMo")

'michel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, MeMo'

In [39]:
for nombre in nombres_limpios:
    print(nombre.zfill(10))

0000Michel
00000Ramon
0000Yadira
00Fernando
000Joselin
0000Andrea
000Rodolfo
00000Nairo
0000Mitsue
00000Laura
00000Luisa
00000Turbo
000000Memo

In [41]:
for nombre in nombres_limpios:
    print(nombre.rjust(10))

    Michel
     Ramon
    Yadira
  Fernando
   Joselin
    Andrea
   Rodolfo
     Nairo
    Mitsue
     Laura
     Luisa
     Turbo
      Memo

In [43]:
%who

nombre	 nombres	 nombres1	 nombres_limpios

In [46]:
nombre
nombres
nombres1

['michel',
 ' ramon',
 ' yadira',
 ' fernando',
 ' joselin',
 ' andrea',
 ' rodolfo',
 ' nairo ',
 'mitsue',
 ' laura',
 ' luisa',
 ' turbo',
 ' memo']

In [47]:
print(nombre)
print(nombres)
print(nombres1)

Memo
michel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memo
['michel', ' ramon', ' yadira', ' fernando', ' joselin', ' andrea', ' rodolfo', ' nairo ', 'mitsue', ' laura', ' luisa', ' turbo', ' memo']

In [48]:
nombre,nombres,nombres1

('Memo',
 'michel, ramon, yadira, fernando, joselin, andrea, rodolfo, nairo ,mitsue, laura, luisa, turbo, memo',
 ['michel',
  ' ramon',
  ' yadira',
  ' fernando',
  ' joselin',
  ' andrea',
  ' rodolfo',
  ' nairo ',
  'mitsue',
  ' laura',
  ' luisa',
  ' turbo',
  ' memo'])

# f-strings

In [54]:
nombre_sucio = " Fernando"
nombres_juntos = "Fer y Nando"
nombres_finales = ["Fer","Nando"]
print("El ",nombre_sucio," y los nombres ", nombres_juntos, "y los limpios son:",nombres_finales)

El   Fernando  y los nombres  Fer y Nando y los limpios son: ['Fer', 'Nando']

In [55]:
nombre_sucio = " Fernando"
nombres_juntos = "Fer y Nando"
nombres_finales = ["Fer","Nando"]
print(f"El {nombre_sucio} y los nombres {nombres_juntos} y los limpios son: {nombres_finales}")

El  Fernando y los nombres Fer y Nando y los limpios son: ['Fer', 'Nando']

In [57]:
nombre_archivo = r"El {nombre_sucio} y los nombres {nombres_juntos} y los limpios son: {nombres_finales}"
nombre_archivo

'El {nombre_sucio} y los nombres {nombres_juntos} y los limpios son: {nombres_finales}'

In [58]:
separadores = ", \t \n"

In [63]:
texto = """
este es un ejemplo de un texto largo

a
"""

In [64]:
texto

'\neste es un ejemplo de un texto largo\n\na\n'

In [66]:
print(texto)

este es un ejemplo de un texto largo

a

In [91]:
texto_muy_largo = """
1,2,3,4,5,6,7,8,8
uno,dos,tres,cuatro,cinco,seis,siete,ocho,ocho
1.0,2.0,3.0,4.0,5.0
"""

[
    [1,2,3,4,5,6,7,8,8],
    [uno,dos,tres,cuatro,cinco,seis,siete,ocho,ocho]
    [1.0,2.0,3.0,4.0,5.0]
]

In [82]:
texto_muy_largo.split(sep="\n")[3].split(sep=",")

['1.0', '2.0', '3.0', '4.0', '5.0']

In [87]:
 texto_muy_largo.split(sep="\n")

['',
 '1,2,3,4,5,6,7,8,8',
 'uno,dos,tres,cuatro,cinco,seis,siete,ocho,ocho,',
 '1.0,2.0,3.0,4.0,5.0',
 '']

In [88]:
for renglon in texto_muy_largo.split(sep="\n")[1:4]:
    print(renglon.split(sep=","))

['1', '2', '3', '4', '5', '6', '7', '8', '8']
['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'ocho', '']
['1.0', '2.0', '3.0', '4.0', '5.0']

In [89]:
listota = []
for renglon in texto_muy_largo.split(sep="\n")[1:4]:
    listota.append(renglon.split(sep=","))

In [90]:
listota

[['1', '2', '3', '4', '5', '6', '7', '8', '8'],
 ['uno',
  'dos',
  'tres',
  'cuatro',
  'cinco',
  'seis',
  'siete',
  'ocho',
  'ocho',
  ''],
 ['1.0', '2.0', '3.0', '4.0', '5.0']]

### Version final del manipulado

In [96]:
texto_muy_largo = """
1,2,3,4,5,6,7,8,8
uno,dos,tres,cuatro,cinco,seis,siete,ocho,ocho
1.0,2.0,3.0,4.0,5.0
"""
listota = []
for renglon in texto_muy_largo.split(sep="\n")[1:4]:
    listota.append(renglon.split(sep=","))

listota

[['1', '2', '3', '4', '5', '6', '7', '8', '8'],
 ['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'ocho'],
 ['1.0', '2.0', '3.0', '4.0', '5.0']]