In [1]:
nombres = [
 'Michel',
 'Ramon',
 'Yadira',
 'Fernando',
 'Joselin',
 'Andrea',
 'Rodolfo',
 'Nairo',
 'Mitsue',
 'Laura',
 'Luisa',
 'Turbo',
 'Memo'
]

In [2]:
nombres_min = []
for nombre in nombres:
    nombres_min.append(nombre.lower())
nombres_min

['michel',
 'ramon',
 'yadira',
 'fernando',
 'joselin',
 'andrea',
 'rodolfo',
 'nairo',
 'mitsue',
 'laura',
 'luisa',
 'turbo',
 'memo']

In [4]:
nombres_min = [nombre.lower() for nombre in nombres]
nombres_min

['michel',
 'ramon',
 'yadira',
 'fernando',
 'joselin',
 'andrea',
 'rodolfo',
 'nairo',
 'mitsue',
 'laura',
 'luisa',
 'turbo',
 'memo']

In [18]:
[nombre for nombre in nombres if "a" in nombre.lower() ]

['Ramon', 'Yadira', 'Fernando', 'Andrea', 'Nairo', 'Laura', 'Luisa']

In [19]:
colores = ["amarillo", "rojo", "azul"]

## List comprehension que tenga los colores con solo 4 caracteres

In [22]:
color4 = [color for color in colores if len(color)==4]

In [21]:
color4 = []
for color in colores:
    if len(color)==4:
        color4.append(color)
color4

['rojo', 'azul']